<footer class="footer">
  <img
    src="./assets/images/ico-arrow.svg"
    alt="scroll-down"
    title="scroll-down"
  />
  <nav class="footer__link">
    <ul>
      <li>
        <a class="footer__link--item" href="https://adalab.es" target="_blank"
          >Articles</a
        >
      </li>
      <li>
        <a class="footer__link--item" href="https://adalab.es" target="_blank"
          >Books</a
        >
      </li>
      <li>
        <a class="footer__link--item" href="https://adalab.es" target="_blank"
          >Events</a
        >
      </li>
      <li>
        <a class="footer__link--item" href="https://adalab.es" target="_blank"
          >Reasons</a
        >
      </li>
      <li>
        <a class="footer__link--item" href="https://adalab.es" target="_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__social">
    <ul>
      <li>
        <a class="footer__social--item" href="https://adalab.es" target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a class="footer__social--item" href="https://adalab.es" target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a class="footer__social--item" href="https://adalab.es" target="_blank"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <section class="footer__copyright">
    <p class="footer__copyright--year">&copy;2021</p>
    <p class="footer__copyright--claim">we ❤︎ components</p>
  </section>
</footer>
