<footer class="footer">
  <a class="footer__button" href="#header">
    <img
      src="./assets/images/ico-arrow.svg"
      alt="scroll-down"
      title="scroll-down"
    />
  </a>
  <nav>
    <ul class="nav">
      <li>
        <a class="nav__item" href="https://adalab.es" target="_blank"
          >Articles</a
        >
      </li>
      <li>
        <a class="nav__item" href="https://adalab.es" target="_blank">Books</a>
      </li>
      <li>
        <a class="nav__item" href="https://adalab.es" target="_blank">Events</a>
      </li>
      <li>
        <a class="nav__item" href="https://adalab.es" target="_blank"
          >Reasons</a
        >
      </li>
      <li>
        <a class="nav__item" href="https://adalab.es" target="_blank">Tips</a>
      </li>
    </ul>
  </nav>
  <nav class="social">
    <ul>
      <li>
        <a class="social__item" href="https://adalab.es" target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a class="social__item" href="https://adalab.es" target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a class="social__item" href="https://adalab.es" target="_blank"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <section class="copyright">
    <p class="copyright__year">&copy;2021</p>
    <h5 class="copyright__claim">
      we <span class="copyright__claim--heart">❤︎</span> components
    </h5>
  </section>
</footer>
