<main class="main">
  <section class="window">
    <p class="window__tips">Insomnia Tips</p>
    <h3 class="window__title">Looking through a window</h3>
    <p class="window__text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button class="window__button">Go</button>
  </section>
  <section class="reasons">
    <h3 class="reasons__title">3 Reasons To Purchase</h3>
    <include
      src="./reasons.html"
      title="Ut sed metus"
      text="Lorem ipsum dolor sit amet, consecteur."
    ></include>
    <include
      src="./reasons.html"
      title="Curabitur ac erat"
      text="Mauris mattis urna quis lorem molestie."
    ></include>
    <include
      src="./reasons.html"
      title="Morbi dictum"
      text="Aliquam in dolor et dolor tincidunt."
    ></include>
    <button class="reasons__button">More reasons</button>
  </section>
</main>
