/*-------- responsive --------*/

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

/*-------- page --------*/

@mixin mainTitle {
  font-family: $fontTitle;
  font-weight: 700;
  font-size: 24px;
  color: $colorBlack;
  line-height: 30px;
  text-transform: capitalize;

  @include tablet {
    font-size: 26px;
    line-height: 45px;
  }
  @include desktop {
    font-size: 32px;
    line-height: 45px;
  }
}

@mixin mainArticle($fontFamily, $fontWeight, $fontSize) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $colorBlack;
  line-height: 30px;
  text-align: center;
}

@mixin mainButton($borderStyles, $backgroundColor, $fontColor) {
  height: 45px;
  margin-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 22.5px;
  border: $borderStyles;
  background-color: $backgroundColor;
  font-family: $fontText;
  font-weight: 500;
  font-size: 20px;
  color: $fontColor;
  text-align: center;
  transition: all ease 0.5s;
}

/*-------- footer --------*/

@mixin footerNav {
  font-family: $fontText;
  font-weight: 400;
  font-size: 16px;
  color: $colorWhite;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin footerCopyright {
  font-family: $fontText;
  font-weight: 400;
  font-size: 14px;
  color: $colorWhite;
  line-height: 30px;
  text-align: center;
}
