/*-------- colors --------*/

$colorPrimary: #f26002;
$colorSecondary: #0271bc;
$colorDark: #304268;
$colorLight: #8ccbea;
$colorLighter: #eff9ff;
$colorGrey: #4a4a4a;
$colorWhite: #ffffff;
$colorBlack: #000000;

/*-------- fonts --------*/

$fontTitle: "Roboto Slab", serif;
$fontText: "Roboto", sans-serif;
