//Colors

$color_primary: #f26002;
$color_secondary: #0271bc;
$color_dark: #304268;
$color_light: #8ccbea;
$color_lighter: #eff9ff;
$color_text: #4a4a4a;
$color_white: #ffffff;
$color_black: #000000;

//Fonts

$font_title: "Roboto Slab", serif;
$font_text: "Roboto", sans-serif;
