//-------- window section --------

.window {
  padding: 30px 15px 45px 15px;
  background-color: $color_white;

  &__tips {
    font-family: $font_text;
    font-weight: 400;
    font-size: 14px;
    color: $color_light;
    line-height: 30px;

    @include desktop {
      font-size: 16px;
    }
  }

  &__title {
    @include mainTitle;
  }

  &__text {
    font-family: $font_text;
    font-weight: 400px;
    font-size: 18px;
    color: $color_text;
    line-height: 30px;
    margin-top: 15px;

    @include tablet {
      font-size: 20px;
      margin-top: 30px;
    }
  }

  &__button {
    @include mainButton(solid 2px $color_primary, $color_white, $color_primary);
    transition: all ease 0.5s;
    &:hover {
      color: $color_dark;
      border-color: $color_dark;
      transform: translateY(-3px);
      box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.5);
    }
    @include desktop {
      width: 160px;
    }
  }

  @include tablet {
    padding: 30px 39px 60px 39px;
  }

  @include desktop {
    padding: 70px 275px 70px 275px;
  }
}

//-------- reasons section --------

.reasons {
  display: grid;
  grid-template-columns: 1fr 184px 1fr;
  grid-template-rows: 30px repeat(3, 1fr) 45px;
  row-gap: 45px;
  padding: 30px 15px 60px 15px;
  background-color: $color_lighter;

  &__title {
    @include mainTitle;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
  }

  &__article {
    &--title {
      @include mainArticle($font_title, 18px, 700);
      @include tablet {
        @include mainArticle($font_title, 24px, 700);
      }
    }
    &--text {
      @include mainArticle($font_text, 18px, 400);
      @include tablet {
        @include mainArticle($font_text, 20px, 400);
        margin-top: 14px;
      }
    }
    &--first {
      grid-column: 2/3;
      grid-row: 2/3;
      @include tablet {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }
    &--second {
      grid-column: 2/3;
      grid-row: 3/4;
      @include tablet {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }
    &--third {
      grid-column: 2/3;
      grid-row: 4/5;
      @include tablet {
        grid-column: 3/4;
        grid-row: 2/3;
      }
    }
  }

  &__button {
    @include mainButton(none, $color_primary, $color_white);
    grid-column: 2/3;
    grid-row: 5/6;
    margin: 0;
    transition: all ease 0.5s;
    &:hover {
      background-color: $color_dark;
      transform: translateY(-3px);
      box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.5);
    }
    @include tablet {
      grid-row: 3/4;
    }
    @include desktop {
      text-transform: capitalize;
      width: 255px;
      justify-self: center;
    }
  }

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45px 1fr 45px;
    column-gap: 27.7px;
    padding: 30px 40px 60px 40px;
  }

  @include desktop {
    column-gap: 26.2px;
    padding: 60px 85px 60px 85px;
  }
}
