//-------- window section --------

.window {
  padding: 30px 15px 45px 15px;
  background-color: $color_white;

  &__tips {
    font-family: $font_text;
    font-weight: 400;
    font-size: 14px;
    color: $color_light;
    line-height: 30px;
  }

  &__title {
    @include mainTitle;
  }

  &__text {
    font-family: $font_text;
    font-weight: 400px;
    font-size: 18px;
    color: $color_text;
    line-height: 30px;
    margin-top: 15px;
  }

  &__button {
    @include mainButton(solid 2px $color_primary, $color_white, $color_primary);
  }
}

//-------- reasons section --------

.reasons {
  display: grid;
  grid-template-columns: 1fr 184px 1fr;
  grid-template-rows: 30px repeat(3, 1fr) 45px;
  row-gap: 45px;
  padding: 30px 15px 60px 15px;
  background-color: $color_lighter;

  &__title {
    @include mainTitle;
    text-align: center;
    grid-column: 1/4;
    grid-row: 1/2;
  }

  &__button {
    @include mainButton(none, $color_primary, $color_white);
    grid-column: 2/3;
    grid-row: 5/6;
  }

  &__article {
    &--title {
      @include mainArticle($font_title, 700);
    }
    &--text {
      @include mainArticle($font_text, 400);
    }
    &--first {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    &--second {
      grid-column: 2/3;
      grid-row: 3/4;
    }
    &--third {
      grid-column: 2/3;
      grid-row: 4/5;
    }
  }
}
